name: Build Fjord APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Build with Buildozer
        uses: kiby-team/buildozer-action@v1
        with:
          buildozer_version: master
          python_version: 3.11
